.error {
    border: 2px solid red;
}

.mainForm {
    background-color: lightgrey;
  width: 300px;
  border: 5px solid rgb(211, 223, 211);
  padding: 50px;
  margin: 20px;
}
input {
    margin-bottom: 10px;
}
